body {
  background-color: #073B4C;
  font-family: 'Source Code Pro';
}
.container {
  margin: 30px;
  display: -webkit-flex;
  display: flex;
}
.card {
  background-color: #118AB2;
  box-shadow: 2px 3px 10px #111111;
  -webkit-flex: 2;
  flex: 2;
  height: 850px;
  display: -webkit-flex;
  display: flex;
}
.card .right-section {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  box-shadow: 1px 0px 5px #111111;
  z-index: 2;
  color: #F4F0F5;
}
.card .right-section .photo {
  -webkit-flex: 1;
  flex: 1;
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 1000px;
  z-index: 3;
  box-shadow: 0px 0px 10px #060E0C;
  border-color: #F4F0F5;
  border: 1px solid;
  margin: 0.5em;
  margin-left: 50px;
}
.card .right-section .photo-title {
  text-align: center;
  font-size: 1.2em;
  color: #FFFBCF;
}
.card .right-section .block {
  -webkit-flex: 1;
  flex: 1;
  margin: 10px;
  text-align: center;
}
.card .right-section .block .description-title {
    font-size: 1.2em;
    font-style: italic;
}
.card .left-section {
  background-color: #F4F0F5;
  -webkit-flex: 2;
  flex: 2;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.blank {
  -webkit-flex: 1;
  flex: 1;
}
