body {
  background: radial-gradient(circle, #FFFBFA, #073B4C);
  font-family: 'Source Code Pro';
  min-height: 870px;
}
.container {
  margin: 30px;
  display: -webkit-flex;
  display: flex;
}
.card {
  background-color: #118AB2;
  box-shadow: 2px 3px 10px #111111;
  -webkit-flex: 6;
  flex: 6;
  height: 850px;
  display: -webkit-flex;
  display: flex;
  opacity: 0;
  margin-top: 100px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.card.show {

  margin-top: 0px;
  opacity: 1;
}
.card .right-section {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  box-shadow: 1px 0px 5px #111111;
  z-index: 2;
  background-color: #2D2D2A;
  color: #3F5E5A;
}
.card .right-section .upper {
  -webkit-flex: 1.1;
  flex: 1.1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-top: 5px;
}
.card .right-section .upper .photo-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.card .right-section .upper .photo {
  background-color: white;
  max-width: 180px;
  max-height: 180px;
  border-radius: 50%;
  z-index: 3;
  box-shadow: 0px 0px 10px #060E0C;
  border-color: #F4F0F5;
  border: 1px solid;
  margin: 0.5em;
}
.card .right-section .upper .photo-title {
  text-align: center;
  font-size: 1.2em;
  color: #FFFBCF;
}
.card .right-section .upper .photo-description {
  text-align: center;
  font-size: 0.85em;
  color: #FFFCF9;
}
.card .right-section .upper .pdf-link-container {
  margin-top: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.card .right-section .upper .pdf-link-container a {
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
  color: #FFFCF9;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.card .right-section .upper .pdf-link-container a:hover {
  text-decoration: underline;
  color: #FFFBCF;
}
.card .right-section .lower {
  -webkit-flex: 2;
  flex: 2;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  background-color: #38423B;
}
.card .right-section .lower .block-about {
  -webkit-flex: 1.7;
  flex: 1.7;
  margin: 15px;
  overflow: hidden;
}
.card .right-section .lower .block-about .description-title {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  color: #FFFCF9;
}
.card .right-section .lower .block-about .description {
  font-size: 0.8em;
  color: #FFFCF9;
}
.card .right-section .lower .block-contact {
  -webkit-flex: 1.8;
  flex: 1.8;
  margin: 15px;
  overflow: hidden;
}
.card .right-section .lower .block-contact .description-title {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  color: #FFFCF9;
}
.card .right-section .lower .block-contact ul {
  list-style-type: none;
  color: #FFFCF9;
  padding-left: 0;
  margin: 0;
  margin-top: 3px;
}
.card .right-section .lower .block-contact ul .icon-circle {
  color: #EEF8FF;
}
.card .right-section .lower .block-contact ul .contact-info {
  font-size: 0.8em;
}
.card .right-section .lower .block-contact a {
  text-decoration: none;
  color: #FFFCF9;
  transition: all .2s ease;
}
.card .right-section .lower .block-contact a:hover {
  color: #20FC8F;
}
.card .right-section .lower .block-contact .icon-stack {
  color: #3F5E5A;
}
.card .right-section .lower .block-skill {
  -webkit-flex: 3;
  flex: 3;
  margin: 15px;
  overflow: hidden;
}
.card .right-section .lower .block-skill .description-title {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  color: #FFFCF9;
}
.card .right-section .lower .block-skill ul {
  list-style-type: none;
  color: #FFFCF9;
  padding-left: 0;
  margin: 0;
  margin-top: 3px;
}
.card .right-section .lower .block-skill ul .icon-circle {
  color: #EEF8FF;
}
.card .right-section .lower .block-skill ul .skill-info {
  font-size: 0.8em;
}
.card .right-section .lower .block-skill .icon-stack {
  color: #3F5E5A;
}
.card .left-section {
  background-color: #F4F0F5;
  -webkit-flex: 2;
  flex: 2;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.blank {
  -webkit-flex: 1;
  flex: 1;
}
